@model Ftl.DigitalMarketing.RazorTemplates.Pages.OrderReceived
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    @@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
    :root {
      text-align: center;
      font-family: "Inter", sans-serif;
    }

    main {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .main-block {
      width: 24rem;
      height: 24rem;
      padding: 2rem;
      background-color: #f2f2f2;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0.2rem;
      gap: 0.2rem;
    }

    path {
      fill: #0e912c;
    }

    .message {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      padding: 1rem 0rem;
    }

    button {
      background-color: #264653;
      border: none;
      padding: 0.5rem 2rem;
      border-radius: 0.5rem;
      color: white;
    }
  </style>
  <body>
    <main>
      <div class="main-block">
        <h2>Your order has been received</h2>
        <svg
          width="4rem"
          height="4rem"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12 1C5.925 1 1 5.925 1 12C1 18.075 5.925 23 12 23C18.075 23 23 18.075 23 12C23 5.925 18.075 1 12 1ZM16.768 10.14C16.8558 10.0396 16.9226 9.92274 16.9646 9.79617C17.0065 9.6696 17.0227 9.53591 17.0123 9.40298C17.0018 9.27005 16.9648 9.14056 16.9036 9.02213C16.8423 8.90369 16.758 8.79871 16.6555 8.71334C16.5531 8.62798 16.4346 8.56396 16.3071 8.52506C16.1796 8.48616 16.0455 8.47316 15.9129 8.48683C15.7802 8.50049 15.6517 8.54055 15.5347 8.60463C15.4178 8.66872 15.3149 8.75554 15.232 8.86L10.932 14.019L8.707 11.793C8.5184 11.6108 8.2658 11.51 8.0036 11.5123C7.7414 11.5146 7.49059 11.6198 7.30518 11.8052C7.11977 11.9906 7.0146 12.2414 7.01233 12.5036C7.01005 12.7658 7.11084 13.0184 7.293 13.207L10.293 16.207C10.3913 16.3052 10.5089 16.3818 10.6384 16.4321C10.7679 16.4823 10.9065 16.505 11.0453 16.4986C11.184 16.4923 11.32 16.4572 11.4444 16.3954C11.5688 16.3337 11.6791 16.2467 11.768 16.14L16.768 10.14Z"
            fill="black"
          />
        </svg>
        <div class="message">
          <p>Thank you for your purchase !!!</p>
          <small>Your order ID is: @Model.OrderId</small>
          <small
            >You will receive an order confirmation email with details of your
            order.</small
          >
        </div>
		<a href="@Model.LeavePageActionUrl">
			<button>I WANT MORE</button>
        </a>
        
      </div>
    </main>
  </body>
</html>
